<%- include("partials/header"); -%>

    <h1>Compose</h1>

    <form action="/compose" method="post">
        <div class="form-group">
          <label for="exampleInputTitle">Title</label>
          <input type="text" name="postTitle" class="form-control"   >
          
        </div>
        <div class="form-group">
          <label for="exampleInputPost">Post</label>
          
          <textarea name="postBody" cols="100" rows="5" class="form-control"></textarea>

        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    
<%- include("partials/footer"); -%>













<!-- 
<form action="/compose" method="post">
    <div class="form-group">
      <label for="ExampleTitle">Title</label>
      <textarea name=Text1"" id="" cols="100" rows="1"></textarea>
    </div>
    <div class="form-gorup">
      <label for="examplePost">Post</label>
      <textarea name="Text2" cols="100" rows="5"></textarea>
    </div>
 
    <div class="form-gorup">
      <button type="submit" class="btn btn-primary">Publish</button>
    </div>
  </form> -->
